<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>Forgot Password</title>
	</head>
	<body bgcolor="#a8cae0">
		<img src="pointing.png" height="400px" width="400px">
		<h1>Its your mistake !! you should know your password</h1>
	</body>
</html>