<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>Login Form</title>
		<link rel="stylesheet" type="text/css" href="style.css">
	</head>
	<body>
		<div class="title"><h1>Login Form</h1></div>
		<div class="container">
			<div class="left">
				<img src="programmer.jpg" width="400px" height="400px">
			</div>
			<div class="right">
				<div class="formBox">
					<form>
						<p>Username / Email</p>
						<input type="text" name="" placeholder="Username">
						<p>Password</p>
						<input type="Password" name="" placeholder="******">
						<br>
						<br>
						<br>
						<input type="submit" name="" value="Login">
						<br>
						<a href="error.marko" style="font-size: 14px"> Forgot Password</a>
					</form>
				</div>
			</div>
		</div>
	</body>
</html>