<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>Sign Up Form</title>
		<link rel="stylesheet" type="text/css" href="style1.css">
		<script src="SignUpValidator.js"></script>
	</head>
	<body background="signupimage.jpg">
		<div class="title"><h1>Create an Account</h1></div>
		<div class="container">
				<div class="formBox">
					<form action="success_page.marko" method="post" onsubmit="return Form_Validator(this);">
						<p>Name</p>
						<input type="text" name="name" placeholder="Name">
						<p>Username</p>
						<input type="text" name="username" placeholder="Username">
						<p>Email id</p>
						<input type="text" name="email" placeholder="email">
						<p>Password</p>
						<input type="Password" name="password" placeholder="******">
						<p>Confirm Password</p>
						<input type="Password" name="cpassword" placeholder="******">
						<br>
						<br>
						<br>
						<input type="submit" name="" value="Sign Up">
					</form>
				</div>
			</div>
		</div>
	</body>
</html>