<!DOCTYPE HTML>
<html>
	<head>
		<meta charset="utf-8">
		<title>Success | Anurag</title>
	</head>
	
	<body bgcolor="#a8cae0" background="succesfull.jpg">
		<img src="lock.jpg" height="400px" width="400px">
		<font color="Red">
		<h1>Hi there !! you are Successfully Signed Up</h1>
		</font>
	</body>
</html>